/* General */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

:root {
    --color-primary: #00A550;
    --color-secondary: #337070;
    --color-extra: #C7DCD1;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.4;
    color: #000;
    scroll-behavior: smooth;
}

a {
    color: #000;
    text-decoration: none;
}

ul {
    list-style: none;
}

p {
    line-height: 1.7;
}

img {
    width: 100%;
}

/* Navbar */
.navbar {
    width: 100%;
    height: auto;
    background-color: #fff;
    padding: 20px 50px;
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1440px;
    margin: 0 auto;
}

.navbar-menu {
    flex: 1;
    margin-left: 30px;
}

.navbar ul {
    display: flex;
    align-items: center;
}

.navbar li {
    margin: 0 30px;
    font-weight: 500;
}

.navbar a:hover {
    color: var(--color-primary);
}

.navbar-logo img {
    width: 70px;
    height: auto;
}

.navbar i {
    font-size: 18px;
    margin-right: 5px;
}

/* Box */
.box, .box-services {
    min-height: 350px;
    margin-bottom: 31px;
}

.box-inner {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    max-width: 700px;
    height: 350px;
    margin: 0 auto;
}

.box-text {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    max-width: 350px;
    height: 350px;
    text-align: center;
    justify-self: center;
}

.box-services {
    display: flex;
    justify-content: center;
    align-items: center;
}

.box-text-services {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    max-width: 550px;
    height: 350px;
    text-align: center;
    justify-self: center;
}

.box-contact {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 703px;
    height: 350px;
}

.box-text-contact {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    max-width: 500px;
    height: 300px;
    align-self: center;
}

.box-text-contact span {
    margin-left: 30px;
    font-size: 20px;
    font-weight: 300;
    text-align: left;
}

.box-text-contact i {
    font-size: 25px;
}

.contact-item {
    display: flex;
    align-items: center;
}

.box-b img {
    width: 295px;
    height: auto;
    justify-self: center;
}

.box-d img {
    width: 703px;
    height: auto;
    justify-self: end;
}

.ceo-info {
    margin-bottom: 40px;
}

/* Grid Styles */
.grid-col-2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 31px;
    align-items: center;
    justify-content: space-between;
}

/* Buttons */
.btn {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    background: none;
    border: 1px #000 solid;
    border-radius: 50px;
    text-decoration: none;
    width: 212px;
    height: 47px;
    margin: 0 auto;
    font-size: 18px;
}

.btn-white {
    border-color: #fff;
    color: #fff;
}

.btn-black {
    border-color: #000;
    color: #000;
}

.btn-white:hover {
    background-color: rgba(199, 220, 209, 0.2);
}

.btn-black:hover {
    background-color: rgba(51, 112, 112, 0.1);
}

/* Backgrounds */
.bg-primary {
    background-color: var(--color-primary);
    color: #fff;
}

.bg-secondary {
    background-color: var(--color-secondary);
    color: #fff;
}

.bg-extra {
    background-color: var(--color-extra);
    color: #000;
}

/* Text Styling */
.text-center {
    text-align: center;
}

.title-xl {
    font-size: 50px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 600;
}

.title-md {
    font-size: 50px;
    text-transform: capitalize;
    letter-spacing: 1px;
    font-weight: 500;
    line-height: normal;
}

.title-sm {
    font-size: 30px;
    text-transform: capitalize;
}

.title-ceo {
    color: #000;
    font-weight: 600;
}

.text-md {
    font-size: 25px;
}

.text-sm {
    font-size: 20px;
}

.text-powered {
    font-size: 0.9rem;
    font-weight: 300;
}

.text-powered a {
    text-decoration: underline;
}

.contact-item a {
    color: #fff;
}

/* Divider */
.divider {
    width: 95%;
    height: 1px;
    background-color: #ccc;
    margin: 40px auto 10px;
}

/* Footer */
footer {
    padding: 0 40px;
    margin-bottom: 20px;
}

.footer-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 100%;
    max-width: 1440px;
    min-height: 140px;
    margin: 0 auto;
}

.social i {
    font-size: 35px;
}

.social i:hover {
    color: #1877F2;
}

/* Hamburger Menu Icon */
.hamburger {
    cursor: pointer;
    width: 24px;
    height: 24px;
    position: relative;
    background: none;
    border: none;
    z-index: 10;
    transition: all 0.25s;
    display: none;
}

.hamburger-top,
.hamburger-middle,
.hamburger-bottom {
    position: absolute;
    top: 0;
    left: 0;
    width: 24px;
    height: 2px;
    background: #000;
    transform: rotate(0);
    transition: all 0.5s;
}

.hamburger-middle {
    transform: translateY(7px);
}

.hamburger-bottom {
    transform: translateY(14px);
}

.open .hamburger-top {
    transform: rotate(45deg) translateY(6px) translateX(6px);
}

.open .hamburger-middle {
    display: none;
}

.open .hamburger-bottom {
    transform: rotate(-45deg) translateY(6px) translateX(-6px);
}

/* Mobile Menu */
.mobile-menu {
    position: fixed;
    top: 85px;
    right: 0;
    background-color: #fff;
    color: #000;
    width: 80%;
    height: 100%;
    padding: 30px;
    box-shadow: inset 0 4px 3px -3px rgb(0 0 0 / 10%),
    inset 0 4px 2px -2px rgb(0 0 0 / 7%);
    transition: all 0.3s;
}

.mobile-menu img {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.mobile-menu ul {
    line-height: 3;
    border-bottom: rgba(0,0,0,.2) solid 1px;
    padding-bottom: 10px;
    margin-bottom: 30px;
}

.mobile-menu a {
    text-decoration: none;
    font-size: 20px;
}

.mobile-menu a:hover {
    color: var(--color-primary);
}

.mobile-menu div {
    margin-top: 20px;
}

.mobile-menu div a {
    display: flex;
    align-items: center;
    font-size: 16px;
}

.mobile-menu-bottom .btn {
    font-weight: 600;
}

.mobile-menu-bottom .btn-black {
    margin: 0 15px;
}

.hidden {
    transform: translateX(100%);
}

.no-scroll {
    overflow: hidden;
}

/* Media Queries */
@media(max-width: 768px) {
    .navbar {
        padding: 20px;
    }

    .hamburger {
        display: block;
    }

    .grid-col-2 {
        grid-template-columns: 1fr;
    }

    .navbar-logo img {
        width: 60px;
    }

    .navbar .navbar-menu,
    .navbar .navbar-find-us {
        display: none;
    }

    .box-d img {
        width: 100%;
    }

    .box-e iframe {
        width: 100%;
    }

    footer {
        text-align: center;
    }
}

@media(min-width: 1440px) {
    .box, .box-c {
        max-width: 1440px;
        margin-right: auto;
        margin-left: auto;
    }
}

@media(min-width: 1920px) {
    .divider {
        max-width: 75%;
    }
}