@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

:root {
    --color-primary: #00A550;
    --color-secondary: #337070;
    --color-extra: #C7DCD1;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.4;
    color: #000;
}

ul {
    list-style: none;
}

a {
    color: #000;
    text-decoration: none;
}

/* p {
    margin: 5px 0;
    line-height: 1.7;
} */

/* Navbar */
.navbar {
    width: 100%;
    height: auto;
    background-color: #fff;
    padding: 20px;
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1440px;
    margin: 0 auto;
}

.navbar ul {
    display: flex;
    align-items: center;
}

.navbar li {
    margin: 0 30px;
    font-weight: 500;
}

.navbar a:hover {
    color: var(--color-primary);
}

/* Box */
.box {
    margin-bottom: 31px;
}

/* Grid Styles */
.grid-col-2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 31px;
    align-items: center;
    justify-content: space-between;
}

/* Buttons */
.btn {
    cursor: pointer;
    display: inline-block;
    background: none;
    border: 1px #000 solid;
    border-radius: 50px;
    padding: 7px 16px;
    line-height: 1.2;
    text-align: center;
    text-decoration: none;
}

.btn-white {
    border-color: #fff;
    color: #fff;
}

.btn-black {
    border-color: #000;
    color: #000;
}

/* Backgrounds */
.bg-primary {
    background-color: var(--color-primary);
    color: #fff;
}

.bg-secondary {
    background-color: var(--color-secondary);
    color: #fff;
}

.bg-extra {
    background-color: var(--color-extra);
    color: #000;
}

/* Divider */
.divider {
    width: 95%;
    height: 1px;
    background-color: #ccc;
    margin: 40px auto;
}